@use '../../../styles/functions' as *;
@use '../../../styles/timing' as *;
@use '@seed-health/tokens/scss/mixins' as *;
@use '@seed-health/tokens/scss/variables' as *;

@mixin panel {
  flex: 0 0 50%;
  opacity: 0;
  transition: opacity $content-visibility-duration $content-visibility-easing;

  &.isVisible {
    opacity: 1;
  }
}

@mixin panelContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 17%;
  padding-inline: 4.72%;
}

@mixin headingColumn {
  display: flex;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;

  h3 {
    @include text-fixed-label-medium;
    margin: 0;
  }

  span {
    @include text-desktop-display-large;
    font-size: fluid-clamp($typography-size-600, $typography-size-1600, 500px, 1440px);
    display: block;
  }
}

@mixin arrowRt {
  button {
    @include text-fixed-label-small;
    color: $text-primary;
    border: 0;
    background: none;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

      svg {
        width: $appearance-measurement-400;
        margin-right: $margin-small;
        aspect-ratio: 1/1;
      }
  }
}

@mixin copyColumn {
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-self: end;
  gap: $gap-16;

  h4 {
    @include text-fixed-label-x-large;
    text-wrap: balance;
    margin: 0;
  }

  p {
    @include text-fixed-body-medium;
    text-wrap: balance;
    margin: 0;
  }
}