@use '../../../styles/timing' as *;
@use '../../../styles/layout' as *;
@use '@seed-health/tokens/scss/variables' as *;

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $color-neutral-foam-white;
  color: $text-primary;
  @include screen-radius;
}

.track {
  position: relative;
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform $track-duration $track-easing;

  // Reposition instantly while hidden
  :global([data-rewinding='jump']) & {
    transition: none;
  }
}

.sphere {
  position: absolute;
  top: 44.5%;
  left: 45.25%;
  width: 11.5%;
  aspect-ratio: 151 / 152;
  transform-origin: left center;
  transition: transform $track-duration $track-easing, opacity $content-visibility-duration $content-visibility-easing;
  pointer-events: none;
  opacity: 0;

  .isVisible & {
    opacity: 1;
  }

  :global([data-rewinding='jump']) & {
    transition: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius-medium;
  user-select: none;
  pointer-events: none;
}



.lineFigure {
  position: absolute;
  top: 9%;
  right: -3%;
  height: 45%;
  transform-origin: right center;
  transition: transform $track-duration $track-easing;

  :global([data-rewinding='jump']) & {
    transition: none;
  }
}
