@use '../../../styles/timing' as *;
@use '../../../styles/functions' as *;
@use '@seed-health/tokens/scss/mixins' as *;
@use '@seed-health/tokens/scss/variables' as *;
@use './shared' as *;

.panel {
  @include panel;
}

.panelContent {
  @include panelContent;
}

.headingColumn {
  @include headingColumn;
  flex-basis: 14.24%;
}

.movieColumn {
  flex: 0 0 49.75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.videoMask {
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 128 / 81;
  border-radius: $radius-large;
}

.video {
  width: 111.11%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-5.56%);
}

.copyColumn {
  @include copyColumn;
  flex-basis: 22%;
}
