@use '../../../styles/functions' as *;
@use '../../../styles/layout' as *;
@use '@seed-health/tokens/scss/variables' as *;
@use '@seed-health/tokens/scss/mixins' as *;
@use './shared' as *;

.panel {
  @include panel;
}

.panelContent {
  @include panelContent;
}

.headingColumn {
  @include headingColumn;
  flex-basis: 14.24%;
}

.heroColumn {
  flex: 0 0 50%;
  display: flex;
  flex-flow: row nowrap;
  gap: $gap-24;
}

.hero {
  position: relative;
  flex: 0 0 calc(50% - ($gap-24 * 0.5));
  aspect-ratio: 298 / 405;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius-medium;
  }

  label {
    @include text-fixed-title-small;
    font-size: fluid-clamp($typography-size-300, $typography-size-600, $bp-sm, $bp-2xl);
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    margin-inline: 25%;
    color: $color-primary-white;
    text-align: center;


    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background-color: $color-primary-white;
      border-radius: 50%;
      margin: 18px auto 0;
    }
  }
}

.copyColumn {
  @include copyColumn;
  @include arrowRt;
  flex-basis: 100%;
  @include above($bp-md) {
    flex-basis: 23%;
  }
}