@use '@seed-health/tokens/scss/variables' as *;

.root {
  z-index: 2;
  position: fixed;
  top: var(--header-height);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: $gap-48 $gap-48 $gap-40;
  width: 100%;
  transition: background-color 0.3s ease;
}
