@use '@seed-health/tokens/scss/variables' as *;                                                                                                                                                                                                            
@use '../../styles/functions' as *; 

.root {
  z-index: 2;
  position: fixed;
  top: var(--header-height);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:
    fluid-clamp(0em, $gap-48, 500px, 1440px)
    fluid-clamp($gap-16, $gap-48, 500px, 1440px)
    fluid-clamp(0em, $gap-40, 500px, 1440px);
  width: 100%;
  transition: background-color 0.3s ease;
}
