@use '@seed-health/tokens/scss/variables' as *;
@use '@seed-health/tokens/scss/mixins' as *;

.root {
  display: flex;
  align-items: center;
  height: $gap-48;
  gap: $gap-8;
  padding: 0 $gap-8;
  border-radius: $radius-full;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appearance-measurement-1000;
  padding: $gap-8 $gap-24;
  gap: $gap-16;
  border-radius: $radius-full;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $state-layer-dark-hovered;
  }
}

.buttonText {
  @include text-fixed-body-medium;
  line-height: normal;
  line-height: normal;
  text-align: center;
  color: $text-primary;
  margin: 0;
  height: $typography-size-400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.dark {
  .button {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .buttonText {
    color: $text-inverse-primary;
  }
}
