.root {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 0;
  padding: 0 6px;
  border-radius: 32px;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  border-radius: 100px;
  padding: 10px 16px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.05px;
  color: #1c3a13;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 10px 24px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(28, 58, 19, 0.05);
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: -0.04px;
    color: #1c3a13;
    margin: 0;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
