@use '@seed-health/tokens/scss/variables' as *;
@use '@seed-health/tokens/scss/mixins' as *;
@use '@/styles/timing' as *;

.root {
  display: flex;
  align-items: center;
  height: $appearance-measurement-1200;
  gap: 0;
  padding: 0 $gap-8;
  border-radius: $radius-full;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appearance-measurement-400;
  border-radius: $radius-full;
  padding: $gutter-small $gutter-medium;
}

.logoText {
  @include text-fixed-body-x-large;
  text-align: center;
  color: $text-primary;
  margin: 0;
  transition: color $header-mode-duration $header-mode-easing;
  white-space: nowrap;

  &::after {
    content: '';
    display: inline-block;
    width: $appearance-measurement-300;
    height: $appearance-measurement-300;
    background-color: currentColor;
    border-radius: 50%;
    margin-left: $gap-4;
    vertical-align: baseline;
  }
}

.nav {
  display: flex;
  flex-direction: row;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appearance-measurement-1000;
  padding: $gap-8 $gap-24;
  border-radius: $radius-full;
  cursor: pointer;
  transition: background-color $mode-duration $mode-easing;

  &:hover {
    background-color: $state-layer-dark-hovered;
  }

  a {
    @include text-fixed-body-medium;
    text-align: center;
    color: $text-primary;
    margin: 0;
    height: $typography-size-400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color $header-mode-duration $header-mode-easing;
  }
}

.dark {
  .logoText {
    color: $text-inverse-primary;
  }

  .navLink {
    &:hover {
      background-color: $state-layer-light-hovered;
    }

    a {
      color: $text-inverse-primary;
    }
  }
}
