@use '@seed-health/tokens/scss/variables' as *;
@use '@seed-health/tokens/scss/mixins' as *;

.root {
  display: flex;
  align-items: center;
  height: $appearance-measurement-1200;
  gap: 0;
  padding: 0 $gap-8;
  border-radius: $radius-full;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appearance-measurement-400;
  border-radius: $radius-full;
  padding: $gutter-small $gutter-medium;
}

.logoText {
  @include text-fixed-label-x-large;
  letter-spacing: -0.8px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: $text-primary;
  margin: 0;
  transition: color 0.3s ease;
}

.nav {
  display: flex;
  flex-direction: row;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $appearance-measurement-1000;
  padding: $gap-8 $gap-24;
  border-radius: $radius-full;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $state-layer-dark-hovered;
  }

  a {
    @include text-fixed-body-medium;
    line-height: normal;
    text-align: center;
    color: $text-primary;
    margin: 0;
    height: $typography-size-400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
}

.dark {
  .logoText {
    color: $text-inverse-primary;
  }

  .navLink {
    &:hover {
      background-color: $state-layer-light-hovered;
    }

    a {
      color: $text-inverse-primary;
    }
  }
}
