.audioPlayerContainer {
    flex: 0 1 15.5em;
    display: flex;
}

.waveform {
  align-content: end;
  margin-right: 0.5em;
}

.trackInfo {
  flex: 1 1 0;
  font-weight: 500;
  line-height: 1.4;
  color: #1c3a13;
  font-size: 10px;
  letter-spacing: -0.05px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}
.trackArtist {
  opacity: 0.5;
}

.menuIcon {
  height: 14px;
  width: 12px;
  align-self: center;
}

.playIcon {
  border: 1.5px solid #1c3a13;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  position: relative;
  margin-left: 1em;
  svg {
    width: 7px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
