@use '@seed-health/tokens/scss/variables' as *;
@use '@seed-health/tokens/scss/mixins' as *;

.audioPlayerContainer {
    flex: 0 1 15.5em;
    display: flex;
}

.waveform {
  align-content: end;
  margin-right: $margin-small;
}

.trackInfo {
  @include text-fixed-body-xx-small;
  flex: 1 1 0;
  font-weight: 500;
  color: $actions-primary;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}
.trackArtist {
  opacity: $appearance-opacity-50;
}

.menuIcon {
  height: $appearance-measurement-400;
  width: $appearance-measurement-300;
  align-self: center;
}

.playIcon {
  border: 1.5px solid $actions-primary;
  border-radius: 100%;
  width: $appearance-measurement-600;
  height: $appearance-measurement-600;
  align-self: center;
  position: relative;
  margin-left: $gap-16;
  svg {
    width: 7px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
