@use '@seed-health/tokens/scss/mixins' as *;
@use '@seed-health/tokens/scss/variables' as *;

.footerNav {
  display: flex;
}
.footerLinksWrapper {
  height: $appearance-measurement-1200;
  flex-shrink: 0;
  width: auto;
  background-color: rgba(87, 94, 85, 0.08);
  border-radius: $radius-full;
  gap: $gap-8;
  align-items: center;
  justify-content: center;
  padding: $gutter-small;
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter-small $gutter-medium;
  position: relative;
  border-radius: $radius-full;

  &.active {
    @include shadow-subtle-shadow;
    background: white;
    
    a {
      color: $text-primary;
    }

  }

  a {
    @include text-fixed-label-x-small;
    color: $text-secondary;
    text-align: center;
  }
}
