@use '@seed-health/tokens/scss/variables' as *;

.footer {
  flex: 1;
  background: #fcfcf7;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.footerFeatures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gap-24 $gap-16;
}
