@use '@seed-health/tokens/scss/mixins' as *;
@use '@seed-health/tokens/scss/variables' as *;

.pillsContainer {
  display: flex;
  gap: $gap-8;
  align-items: center;
}

.pill {
  padding: 7px 9px;
  border-radius: $radius-large;
  border: 1.5px solid $actions-primary;

  span {
    @include text-fixed-label-x-small;
    line-height: $appearance-measurement-200;
    display: block;
    white-space: nowrap;

    &.uppercase {
      text-transform: uppercase;
    }
  }
}


