.pillsContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pill {
  padding: 7px 9px;
  border-radius: 25px;
  border: 1.5px solid #1c3a13;

  span {
    font-weight: 500;
    font-size: 12px;
    display: block;
    line-height: 9px;

    &.uppercase {
      text-transform: uppercase;
    }
  }
}


