@use '@seed-health/tokens/scss/variables' as *;

.page {
  background: $container-seed-green;
}

.main {
  height: 100vh;
  width: 100vw;
  border-radius: $radius-medium;
  background: $color-primary-snow-white;
  color: $color-primary-seed-green;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
