@use '@seed-health/tokens/scss/variables' as *;

.root {
  z-index: 1;
  width: 100%;
  aspect-ratio: 180/101;
  border-radius: $radius-medium;
  background: linear-gradient(180deg, rgba(234, 235, 228, 0.50) 10.44%, rgba(234, 235, 228, 0.00) 48.61%, rgba(234, 235, 228, 0.50) 90.67%);
  transition: background-color 0.3s ease;

  &.dark {
    background: $container-seed-green;
  }
}
