@use '@seed-health/tokens/scss/variables' as *;
@use '../../styles/timing' as *;

.root {
  z-index: 1;
  position: relative;
  width: 100%;
  aspect-ratio: 180/101;
  border-top-left-radius: $radius-medium;
  border-top-right-radius: $radius-medium;
  border-bottom-right-radius: $radius-large;
  border-bottom-left-radius: $radius-large;
  background: $container-gray;
  transition: background-color $mode-duration $mode-easing;
  color: $text-primary;

  &.dark {
    background: $container-seed-green;
    color: $text-inverse-primary;
  }
}

.timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pauseButton {
  position: absolute;
  right: $appearance-measurement-2000;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  opacity: 1;
  padding: $gap-16;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}
