@use '@seed-health/tokens/scss/variables' as *;
@use '../../styles/timing' as *;

.root {
  z-index: 1;
  position: relative;
  width: 100%;
  aspect-ratio: 180/101;
  border-top-left-radius: $radius-medium;
  border-top-right-radius: $radius-medium;
  border-bottom-right-radius: $radius-large;
  border-bottom-left-radius: $radius-large;
  background-color: $container-gray;
  color: $text-primary;
  transition: background-color $mode-duration $mode-easing, color $mode-duration $mode-easing;

  &.dark {
    background-color: $container-seed-green;
    color: $text-inverse-primary;
  }
}

.timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pauseButton {
  position: absolute;
  top: 0;
  right: $gap-16;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: $actions-inverse;
  padding: $gap-8 $gap-16;
  background-color: $color-neutral-frosted-glass-t35;
  border-radius: $radius-large;
  opacity: 0.7;
  transition: opacity 0.2s ease;

  svg {
    width: $appearance-measurement-400;
    height: $appearance-measurement-400;
  }

  &:hover {
    opacity: 1;
  }
}
