@use '@seed-health/tokens/scss/variables' as *;
@use '../../styles/layout' as *;

.slide {
  width: 100%;
  height: 100%;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius-medium;
  user-select: none;
  pointer-events: none;
}

.placeholder {
  width: 100%;
  height: 100%;
  @include screen-radius;
}
